* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
}

:root {
  --background-color1: rgba(0, 0, 0, 0.316);
  --background-color2: rgba(0, 0, 0, 0.426);
  --background-color3: rgba(0, 0, 0, 0.419);
}

body {
  font-size: 62.5%;
}

.background-image {
  background-repeat: no-repeat;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
}

header {
  display: flex;
  justify-content: flex-end;
  height: 10vh;
}

.temperature,
.weather-icon {
  font-size: 1.5rem;
  background-color: var(--background-color1);
  padding: 1rem;
  border-radius: 50%;
}

/* main */

main {
  min-height: 68vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.userNameInput {
  visibility: visible;
}

.display {
  margin: 3rem;
  display: none;
  background-color: var(--background-color1);
}

.userNameInput {
  display: flex;
  flex-direction: column;
  font-size: 1.5rem;
  padding: 2rem;
}

.userNameInput h1,
input {
  margin: 1rem;
  padding: 2px;
}

.userNameInput button {
  width: 30%;
  margin: 1rem 13rem;
  padding: 2px;
  border: none;
  font-weight: 500;
}

.display .time,
.welcome-msg,
h2,
input,
p {
  margin: 1rem 4rem;
}

.display input {
  border: none;
  border-bottom: 1px solid black;
  padding: 3px;
}

.time {
  font-size: 3.5rem;
  font-weight: 600;
}

.mainFocus {
  font-size: 1.2rem;
}

.myInput,
.addBtn,
.enterTodo,
#tasks,
#addUserNameBtn,
.enterName,
.enterMainTask {
  color: black;
}

/* footer */

footer {
  height: 22vh;
  display: flex;
  justify-content: flex-end;
}

.todoList {
  width: 28vw;
  background-color: var(--background-color2);
  margin: 5px;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: scroll;
  scrollbar-width: 5px;
}

::-webkit-scrollbar {
  width: 5px;
  background-color: black;
}

.task {
  margin-top: 2px;
}

.task button {
  margin-left: 3rem;
  background-color: transparent;
  border: none;
}

#push {
  background-color: transparent;
  border: none;
  padding: 5px;
  cursor: pointer;
}

#push:hover {
  background-color: var(--background-color3);
}

.quote {
  position: absolute;
  bottom: 12rem;
  font-size: 1.3rem;
  background-color: var(--background-color1);
}
